body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FDF4F5;
}

#title {
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

#buttons {
    display: flex;
    flex-direction: column;
    min-width: 50px;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: fit-content;
    height: fit-content;
    align-self: center;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
}

.btn,
.operationBtn,
.equals {
    min-width: 50px;
    min-height: 50px;
    border-radius: 200px;
    background-color: violet;
    border-style: hidden;
    margin: 5px;
}

.operations {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: auto;
}

.clearBtn,
.deleteBtn {
    min-width: 100px;
    min-height: 50px;
    border-radius: 200px;
    border-style: none;
    font-weight: bolder;
}

.titleAndDisplay {
    display: flex;
    justify-content: center;
    border-radius: 13px;
    margin-top: 7px;
    margin-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 200px;
    background-color: white;
}